<launch>
  <rosparam file="$(find articulated_robot_simulation)/config/controllers.yaml" command="load" ns="/articulated_robot"/>
  <node name="controller_spawner" pkg="controller_manager" type="spawner"
        respawn="false" output="screen" ns="/articulated_robot"
        args="joint_state_controller joint1_effort_controller joint2_effort_controller joint3_effort_controller"/>
</launch>
